<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <meta name="title" content="Chitoge RestAPIs">
    <meta name="description" content="Chitoge RestAPIs is Free for Everyone.">
    <meta name="keywords"
        content="Chitoge, Chitoge Win, chitoge.win, Rest API, RestAPIs Free, Bot WhatsApp, WhatsApp Bot">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta property="og:title" content="Chitoge RestAPIs">
    <meta property="og:description" content="Chitoge RestAPIs is Free for Everyone.">
    <meta property="og:image" href="android-chrome-512x512.png">

    <title>Nah, Chitoge Win <3</title>
            <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="content">
        <img src="https://i.pinimg.com/originals/dd/85/7a/dd857ae4600805b338a18bfae176a1c9.gif" alt="Chitoge Kirisaki"
            class="image">
        <h1>Nah, Chitoge Win!</h1>
        <blockquote>
            “Never lose yourself when trying to hold on to someone who doesn't care about losing you.” - Chitoge
            Kirisaki
        </blockquote>
        <a href="/docs" class="button">Go to Docs.</a>
    </div>
</body>

</html>